<div class="mx-auto mb-20 mt-8 max-w-fit">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <h1 class="mb-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">@Title</h1>
    }
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

}
