@inherits LayoutComponentBase

<div class="mx-auto mt-8 max-w-screen-lg">
    <Heading1>Manage your account</Heading1>
    <BlazorApp7.Client.Pages.Profile />
    @* <Heading4>Change your account settings</Heading4> *@
    <hr class="mt-4 dark:border-gray-700" />
    <div class="flex flex-wrap">
        <div class="grow-0">
            <ManageNavMenu />
        </div>
        <div class="grow p-4 sm:pl-16">
            @Body
        </div>
    </div>
</div>
