@using BlazorApp7.Data
@using BlazorApp7.GMS.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@page "/"

<PageTitle>Home</PageTitle>

<p>Hello, world</p>
<div class="border-accent-foreground max-w-8xl text-4xl font-bold">
    Welcome to your new app. How are you feeling today?
</div>