@page "/counter"
@rendermode InteractiveAuto

<Heading1>Counter</Heading1>

<p class="my-4">Current count: @currentCount</p>

<Button OnClick="IncrementCount">Click me</Button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
