@inherits UiComponentLiteBase

<button type="button"
    class="@ClassNames("p-2 bg-gray-200 dark:bg-gray-800 rounded-md text-gray-900 dark:text-gray-100 hover:bg-gray-300 dark:hover:bg-gray-700")"
    onclick="toggleDarkMode()">
    <span>Mode</span>
</button>

<script>
    window.toggleDarkMode = (function() {
        let isDark = localStorage.getItem('color-scheme') === 'dark'
        const html = document.documentElement
        function renderDarkMode() {
            html.style.setProperty('color-scheme', isDark ? 'dark' : null)
            html.classList.toggle('dark', isDark)
            document.querySelectorAll('[data-class-light]').forEach(el => {
                const removeClasses = isDark
                    ? el.dataset.classLight
                    : el.dataset.classDark
                const addClasses = isDark
                    ? el.dataset.classDark
                    : el.dataset.classLight

                removeClasses.split(' ').forEach(c => el.classList.remove(c))
                addClasses.split(' ').forEach(c => el.classList.add(c))
            })
        }
        renderDarkMode()

        document.addEventListener('DOMContentLoaded', () =>
            Blazor.addEventListener('enhancedload', () => {
                isDark = localStorage.getItem('color-scheme') === 'dark'
                html.classList.toggle('dark', isDark)
                renderDarkMode()
            }))

        return function() {
            isDark = !isDark
            localStorage.setItem('color-scheme', isDark ? 'dark' : 'light')
            renderDarkMode()
        }
    })()
</script>