@inherits UiComponentLiteBase

<td class="@ClassNames("p-2 align-middle [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]", @class)" @attributes="AdditionalAttributes">
    @ChildContent
</td>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}